<%- include('../layouts/head.ejs') %>

</head>

<body>
    <%- include('../layouts/navigation.ejs') %>

    <div class="container">
        <div class="row row-cols-md-2 mt-2 ">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="border p-4 rounded">
                            <div class="text-center">
                                <h3 class="">Change New Password</h3>
                                <p></p>
                            </div>
                            <div class="form-body">
                                <form class="row g-3" action="/auth/resetPassword/<%= token %>?_method=PUT" method="POST">
                                    <%- csrf() %>
                                    <div class="col-12" >
                                        <label for="inputNewPassword" class="form-label">New Password</label>  
                                        <div class="input-group" id="show_hide_password">            
                                        <input type="password" class="form-control" id="inputNewPassword" name="newPassword" placeholder="New Password" value="<%= old.newPassword %>"><a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                        </div> 
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary" ><i class="bx bxs-reset"></i>Reset New Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>

<%- include('../layouts/end.ejs') %>   