<%- include('../layouts/head.ejs') %>

</head>

<body>
    <%- include('../layouts/navigation.ejs') %>

    <div class="container">
        <div class="row row-cols-md-2 mt-2 ">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="border p-4 rounded">
                            <div class="text-center">
                                <h3 class="">Reset Password</h3>
                                <p></p>
                            </div>
                            <div class="form-body">
                                <form class="row g-3" action="/auth/resetPassword" method="POST">
                                    <%- csrf() %>
                                    <div class="col-12">
                                        <label for="inputEmailAddress" class="form-label">Email Address</label>    
                                        <input type="email" class="form-control" id="inputEmailAddress" name="email" placeholder="Email Address" value="<%= old.email %>">
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary" ><i class="bx bxs-reset"></i>Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>

<%- include('../layouts/end.ejs') %>   